<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Users\ASUS\Desktop\tuornamentTracker"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="server=localhost;user id=root;password=Admin@123;database=tournaments"/>
  </connectionStrings>
</configuration>